.photo-holder{
    position: initial;
    max-width: 300px;
    max-height: 650px;
    overflow: hidden;
    margin-bottom: 25px;
}


.photo{
    max-width: 300px;
    overflow: hidden;
    @media screen and (max-width: 650px) {
        max-height: 350px;
    }
}

a {
    cursor: pointer;
}