* {
    cursor: pointer
}
.name{
    display: flex;
    align-items: center;
    height: 52px;
        h3{
            margin: 2px 0;
        }
}

.photo{
    margin: 10px 0;
    height: 70px;
    position: absolute;
}

.badge{
    margin: 0;
}