<h3> New game </h3>

<div class="row bottom-align-text">
  <div class="form-group col-xs-6">
    <label for="player">Invite a player</label>
    <input type="player" id="player" name="player" class="form-control">
  </div>
  <div class="form-group col-xs-3">
    <label for="team">Select a team</label>
    <select name="team" id="team" class="form-control">
      <option value="teamA"> Team A</option>
      <option value="teamB"> Team B</option>
    </select>
  </div>
    <button class="btn btn-secondary" (click)="onInvite()"> Invite</button>
</div>

<div class="teamA">
  <div class="row">
    <div class="col-xs-6">
      <h2> Team A</h2>
    </div>
    <app-selected-player>

    </app-selected-player>
    <div class="col-xs-6">
      <h2> Team B</h2>
    </div>
  </div>
</div>