<a appActive class="list-group-item clearfix">
  <div class="row">
    <div class="col-xs-4 photo-holder">
      <img [src]="player.photo" alt="{{ player.photo }}" class="photo">
    </div>
    <div class="col-xs-8 text-holder">
      <div class="row">
        <div class="col-xs-12">
          <div class="name ">
            <h4>{{ player.name }}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5 class="badge"> {{player.level}}</h5>
        </div>
      </div>
    </div>
  </div>
</a>



